html,body {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: aliceblue;
}

canvas {
  background-color: white;
  width: 80%;
  height: 80vh;
}

p#typo {
    color: red
}